
body,html{
    margin: 0;
    /* width: 100vh; */
    height: 100vh;
    background: url('https://img.freepik.com/fotos-gratis/pessoas-empilhando-as-maos-juntas-no-parque_53876-63293.jpg?w=2000');
    font-family: 'Montserrat', sans-serif
}

button{
    font-family: 'Montserrat', sans-serif
}

.main-login{
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    align-items: flex-start;
}

.login-box{
    width: 40%;
    height: 100%;
    background-color:#fffdff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login{
    display: flex;
    flex-direction: column;
}

.textfield{
    display: flex;
    flex-direction: column;
}

.left-login-title{
    color: #0f3504;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
}

input{
    height: 40px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 10px;
}

input:hover{
    height: 40px;
    border: 2px solid #7fda89;
    border-radius: 5px;
    width: 250px;
}

input:focus{
    outline-color: #e6f99d;

}

input::placeholder{
    color: #d6d6d6;
}

/* fbc0bd */
label{
    font-size: 14px;
    color: #e6f99d;
    margin-bottom: 5px
}

.btn-login{
    height: 40px;
    background-color: #fff;
    border: 2px solid #c7b99d;
    border-radius: 50px;
    color: #e6f99d;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;

}

.btn-login:hover{
    height: 40px;
    background-color: #7fda89;
    border:none; 
    border-radius: 50px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;

}

.btn-register{
    height: 40px;
    background-color: #7fda89;
    border: none; 
    border-radius: 50px;
    color: #fff;
    cursor: pointer;

}


.right-side-box{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-login{  
    text-align: center;    
}

.right-text-login{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
}

.text-login{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    color:#6fa17b;

}


h1 {
    margin: 0;
    font-weight: 500;
}

p{
    margin: 0;
} 


