body{
  background-color: aliceblue;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
img {
  margin: 30px 0;
  margin: auto;
  display: block;
  width: 25%;
  border: 10px;
  border-style: middle;
  }

#register-form{
align-items: center;
justify-content: center;
margin-left: 18%;
}

#main-container{
  margin-top: 20%;
  position: absolute;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  width: 98vw;
  height: 130vh;
  margin-bottom: 20%;
  flex-direction: column;
}
.container{
  width: 40%;
  padding: 15px;
  border-radius: 5px;
  background: rgba( 73, 174, 88, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .container h2{
    padding-bottom: 5%;
  }

  .input-texto, .input-select{
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border-radius: 5px;
    border: 0;
    border-color: black;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .botao-submit{
    width: 30%;
    height: 50px;
    margin-top: 20px;
    padding: 7px;
    margin-left: 25%;
    border-color: rgba(0, 0, 0, 0.486);
    background: #7fda89;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .botao-submit:hover{
    background-color:rgba(95, 155, 46, 0.815);
    color: white;
    box-shadow: black;
}
.botao-reset{
    font-size: 18px;
    display: grid;
    margin: auto;
    margin-top: 3%;
    border: none;
    background:none;
    color: rgba(0, 0, 0, 0.637);
    border-radius: none;
    cursor: pointer;
}
.botao-reset:hover{
    color: white;

}
#div_nome_sobrenome{
   align-content: center;
   position: relative;
   width: 50%;
}
#div_text_area{
   align-content: center;
   position: relative;
   width: 25%;

}

