#bk-ground {
    position: relative;
    margin-top: 10%;
    float: right;
    width: 60%;
}

.login-box {
    position: relative;
    width: 40%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    padding: 5px;
    background-color: #c7f0e067;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #757575;

}
.login-title {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0f3504;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textfield {
    background-color: transparent;
    align-items: center;
    margin-top: 5%;
    display: flex;
    flex-direction: inherit;
}

.textfield .labelTL {
    margin-left: -200px;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    background-color: transparent;
}

.inputTL {
    height: 40px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 6px;
}

.inputTL:hover {
    height: 40px;
    border: 2px solid #7fda89;
    border-radius: 5px;
    width: 250px;
    
}

input:focus {
    outline: none;

}

.inputTL::placeholder {
    color: #d6d6d6;
}

.card-buttons{
    background-color: transparent;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonTL {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 7px;
    border: none;
    background: rgba(126, 1, 1, 0.034);
    color: black;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 15px;
    border-color: #757575;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.buttonTL:hover {
    background-color: #7fda89;
    color: white;
    box-shadow: black;
}

button p {
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;

}

.right-side-box {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-login {
    text-align: center;
}

.right-text-login {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
}

.text-login {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #a16f6f;

}
